.container-login {
  border-radius: 10px;
  margin: 50px 50px;
  padding: 40px;
  height: 410px;
  box-shadow: 4px 4px 10px #245f5aab;
  background-color: #dfdfc9bd;
}

.image-login {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 820px;
}

.text {
  color: #245f5a;
  font-size: 40px;
}
