.container-signup {
  padding: 20px;
  background-color: #e0e0ca;
  border-radius: 15px;
  background: #e0e0ca;
  box-shadow: 20px 20px 60px #bebeac, -20px -20px 60px #ffffe8;
}

.text {
  color: #245f5a;
  font-size: 40px;
}
