.review {
  width: 90%;
  height: 100%;
  margin: 30px;
  border: 1px solid #245f5a;
  border-radius: 6px;
  text-align: left;
  padding-left: 15px;
  box-shadow: 4px 4px 10px #245f5aab;
  padding: 20px;
}
