.likeBtn{
    height: 38px;
    padding: 0 30px;
    font-size: 11px;
    background-color:  transparent;
    border-radius: 6px;
}

.content {
    padding: 10px;
  }
  
.custom-btn {
    background: #fff;
    color: red;
    border: 2px solid red;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
}